

$primary-pale-blue: rgb(224, 232, 255);
$primary-bright-blue: rgb(56, 41, 224);

$neutral-very-pale-blue: rgb(245, 247, 255);
$neutral-desaturated-blue: rgb(114, 128, 167);
$neutral-dark-blue: rgb(31, 47, 86);
