

$p-soft-blue: rgb(139, 172, 218);
$p-cyan: rgb(0, 255, 247);

$n-very-dark-blue-bg: rgb(13, 25, 43); 
$n-very-dark-blue-card: rgb(20, 37, 61);   
$n-very-dark-blue-line: rgb(47, 65, 91);   
$n-white: rgb(255, 255, 255);